Things needed:

*   Importing relevant libraries
*   Entering the URL

After that, use pd.read_html(. . .) to read tables from the received response.

In [1]:
import requests
import pandas as pd

URL = "https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_area"
response = pd.read_html(URL)

Pick the table using the appropriate index. As the table hasn't looked exactly as one wanted, edit the table a bit more using:

*   .drop() function to remove certain rows or columns
*   .reset_index function to restart indexing from 0
*   .iloc[a:b,x:y] to locate and pick specific parts based on index

among others.

In [4]:
table = response[1]
table = table.drop([0,2], axis = 0).drop(['Unnamed: 0','Unnamed: 6'], axis=1)
table = table.reset_index()
table = table.drop('index',axis=1)
table.index = table.index + 1
top50 = table.iloc[0:50,:]

As one have located the top 50 on the table, one can finally print the finished list.

In [5]:
print("Top 50 nations in terms of largest territories on Earth: ")
top50

Top 50 nations in terms of largest territories on Earth:

,Country / dependency,Total in km2 (mi2),Land in km2 (mi2),Water in km2 (mi2),% water
1,Russia,"17,098,246 (6,601,667)","16,376,870 (6,323,142)","721,380 (278,530)",4.2
2,Canada,"9,984,670 (3,855,100)","9,093,507 (3,511,021)","891,163 (344,080)",8.9
3,China,"9,596,960 (3,705,410)","9,326,410 (3,600,950)","270,550 (104,460)",2.8
4,United States,"9,525,067 (3,677,647)","9,147,593 (3,531,904)","377,424 (145,724)",4.0
5,Brazil,"8,510,346 (3,285,862)","8,460,415 (3,266,583)","55,352 (21,372)",0.6
6,Australia,"7,741,220 (2,988,900)","7,682,300 (2,966,200)","58,920 (22,750)",0.8
7,India,"3,287,263 (1,269,219)","2,973,190 (1,147,960)","314,070 (121,260)",9.6
8,Argentina,"2,780,400 (1,073,500)","2,736,690 (1,056,640)","43,710 (16,880)",1.6
9,Kazakhstan,"2,724,910 (1,052,090)","2,699,700 (1,042,400)","25,202 (9,731)",0.9
10,Algeria,"2,381,741 (919,595)","2,381,741 (919,595)",0,0.0
11,Democratic Republic of the Congo,"2,344,858 (905,354)","2,267,048 (875,312)","77,810 (30,040)",3.3
12,Kingdom of Denmark,"2,210,573 (853,507)","2,209,913 (853,252)",660 (260),0.0
13,Greenland (Denmark),"2,166,086 (836,330)","2,166,086 (836,330)",0,0.0
14,Saudi Arabia,"2,149,690 (830,000)","2,149,690 (830,000)",0,0.0
15,Mexico,"1,964,375 (758,449)","1,943,950 (750,563)","20,425 (7,886)",1.0
16,Indonesia,"1,904,569 (735,358)","1,811,569 (699,450)","93,000 (36,000)",4.9
17,Sudan,"1,861,484 (718,723)","1,731,671 (668,602)","129,813 (50,121)",7.0
18,Libya,"1,759,540 (679,362)","1,759,540 (679,362)",0,0.0
19,Iran,"1,648,195 (636,371)","1,531,595 (591,352)","116,600 (45,020)",7.1
20,Mongolia,"1,564,116 (603,908)","1,557,507 (601,357)","6,609 (2,552)",0.4
21,Peru,"1,285,216 (496,224)","1,279,996 (494,209)","5,220 (2,020)",0.4
22,Chad,"1,284,000 (495,800)","1,259,200 (486,180)","24,800 (9,580)",1.9
23,Niger,"1,267,000 (489,200)","1,266,700 (489,080)",300 (100),0.0
24,Angola,"1,246,700 (481,350)","1,246,700 (481,350)",0,0.0
25,Mali,"1,240,192 (478,841)","1,220,190 (471,118)","20,000 (8,000)",1.6
26,South Africa,"1,219,090 (470,693)","1,214,470 (468,909)","4,620 (1,780)",0.4
27,Colombia,"1,138,910 (439,735)","1,038,700 (401,040)","100,210 (38,691)",8.8
28,Ethiopia,"1,104,300 (426,370)","1,096,570 (423,388)","7,730 (2,990)",0.7
29,Bolivia,"1,098,581 (424,164)","1,083,300 (418,260)","15,280 (5,900)",1.4
30,Mauritania,"1,030,700 (397,960)","1,030,700 (397,960)",0 (0),0.0
31,Egypt,"1,001,450 (386,662)","995,450 (384,350)","6,000 (2,000)",0.6
32,Tanzania,"947,303 (365,756)","885,800 (342,000)","61,500 (23,700)",6.5
33,Nigeria,"923,768 (356,669)","910,770 (351,650)","13,000 (5,000)",1.4
34,Venezuela,"912,050 (352,140)","882,050 (340,560)","30,000 (10,000)",3.3
35,Pakistan,"882,363 (340,682)","857,143 (330,945)","25,220 (9,737)",2.9
36,Namibia,"824,292 (318,261)","823,290 (317,870)","1,002 (387)",0.1
37,Mozambique,"799,380 (308,640)","786,380 (303,620)","13,000 (5,000)",1.6
38,Turkey,"783,562 (302,535)","769,632 (297,156)","13,930 (5,378)",1.8
39,Chile,"756,102 (291,932)","743,812 (287,187)","12,290 (4,745)",1.6
40,Zambia,"752,612 (290,585)","743,390 (287,020)","9,220 (3,560)",1.2
41,Myanmar,"676,578 (261,228)","653,508 (252,321)","23,070 (8,907)",3.4
42,Afghanistan,"652,864 (252,072)","652,230 (251,830)",630 (240),0.1
43,South Sudan,"644,329 (248,777)",NaN,NaN,NaN
44,France,"643,801 (248,573)","640,427 (247,270)","3,374 (1,303)",0.5
45,Somalia,"637,657 (246,201)","627,340 (242,220)","10,320 (3,985)",1.6
46,Central African Republic,"622,984 (240,535)","622,984 (240,535)",0,0.0
47,Ukraine,"603,550 (233,030)","579,330 (223,680)","24,220 (9,351)",4.0
48,Madagascar,"587,041 (226,658)","581,540 (224,530)","5,501 (2,124)",0.9
49,Botswana,"582,000 (225,000)","566,730 (218,820)","15,000 (5,800)",2.6
50,Kenya,"580,367 (224,081)","569,140 (219,750)","11,227 (4,335)",1.9